LOCAL_FRONTEND_PATH=../bless-my-soul-website/
LOCAL_BACKEND_PATH=../bless-my-soul-backend/

PROD_FRONTEND_PATH=https://github.com/samcoydev/bless-my-soul-website.git#master
PROD_BACKEND_PATH=https://github.com/samcoydev/bless-my-soul-spring.git#master